<ng-container *transloco="let t; scope: 'store'">
  <div class="store-picker">
    <nz-select
      nzShowSearch
      nzServerSearch
      nzAllowClear
      [nzPlaceHolder]="t('store.picker.searchPlaceholder')"
      [nzLoading]="searching()"
      [ngModel]="selectedStoreId()"
      (nzOnSearch)="onSearch($event)"
      (ngModelChange)="onSelectId($event)"
      class="store-select"
    >
      @for (store of displayOptions(); track store.id) {
        <nz-option [nzValue]="store.id" [nzLabel]="storeLabel(store, countryService.country())" />
      }
    </nz-select>
    <button nz-button type="button" [nzLoading]="locating()" (click)="findNearby()">
      <span nz-icon nzType="environment"></span>
      {{ t('store.picker.findNearby') }}
    </button>
    @if (auth.isLoggedIn()) {
      <button nz-button type="button" (click)="showAddModal.set(true)">
        {{ t('store.picker.addNew') }}
      </button>
    }
  </div>
  @if (!auth.isLoggedIn()) {
    <p class="login-hint">{{ t('store.picker.loginHint') }}</p>
  }
  @if (locationError()) {
    <p class="location-error">{{ locationError() }}</p>
  }

  <nz-modal
    [nzVisible]="showAddModal()"
    [nzTitle]="t('store.picker.newStoreModalTitle')"
    [nzFooter]="null"
    (nzOnCancel)="showAddModal.set(false)"
  >
    <ng-container *nzModalContent>
      <app-store-form (created)="onStoreCreated($event)" (cancelled)="showAddModal.set(false)" />
    </ng-container>
  </nz-modal>
</ng-container>
